Repository john-holt4/Origami: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-prod, generate_and_upload_iso-prod, build-image-test

Path conditions:
  build-image-prod: any of: recipes/recipe-base.yml, recipes/recipe-nvidia.yml, recipes/recipe-core.yml
  generate_and_upload_iso-prod: any of: recipes/recipe-base.yml, recipes/recipe-nvidia.yml, recipes/recipe-core.yml
  build-image-test: any of: recipes/recipe-test.yml

Adds GVFS modules for network/fuse support in cosmic-files
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

update test recipe
  recipes/recipe-test.yml
Due: build-image-test

test discord notification
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

install inter fonts from fedora instead of google
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

Add empty install arrays for cosmic and flathub remotes on test image
  recipes/recipe-test.yml
Due: build-image-test

included zen as default browser
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

zen flatpak instead of rpm
  files/system/usr/share/cosmic/com.system76.CosmicAppLibrary/v1/groups
  recipes/recipe-core.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

update flatpak install to include cosmic packages
  recipes/recipe-core.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

update default groups, and dock shortcuts for zen
  files/system/usr/share/cosmic/com.system76.CosmicAppLibrary/v1/groups
  files/system/usr/share/cosmic/com.system76.CosmicAppList/v1/favorites
Due: none

rebase test image to use ghcr.io/blue-build/base-images/fedora-cosmic
  recipes/recipe-test.yml
Due: build-image-test

remove nvtop from test image
  recipes/recipe-test.yml
Due: build-image-test

remove helix, and app menu for cosmic copr
  recipes/recipe-test.yml
Due: build-image-test

remove notification from flatpak install
  recipes/recipe-test.yml
Due: build-image-test

Migrate base & nvidiea away from ublue to blubuild base
  files/system/usr/share/cosmic-themes/cosmic-dark.ron
  files/system/usr/share/cosmic-themes/cosmic-light.ron
  files/system/usr/share/cosmic/com.system76.CosmicAppList/v1/favorites
  files/system/usr/share/cosmic/com.system76.CosmicTerm/v1/syntax_theme_dark
  files/system/usr/share/fastfetch/presets/origami/origami-fastfetch.jsonc
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
  recipes/recipe-nvidia.yml
Due: build-image-prod, generate_and_upload_iso-prod

Push test build
  .gitlab-ci.yml
  recipes/recipe-test.yml
Due: build-image-test

Updated themes for user to choose from first install
  files/system/usr/share/cosmic-themes/comet-light.ron
  files/system/usr/share/cosmic-themes/cream-light.png
  files/system/usr/share/cosmic-themes/cream-light.ron
  files/system/usr/share/cosmic-themes/mocha-dark.png
  files/system/usr/share/cosmic-themes/mocha-dark.ron
  files/system/usr/share/cosmic-themes/nebula-dark.ron
  files/system/usr/share/cosmic-themes/origami-dark.png
  files/system/usr/share/cosmic-themes/origami-dark.ron
  files/system/usr/share/cosmic-themes/origami-light.png
  files/system/usr/share/cosmic-themes/origami-light.ron
  recipes/recipe-base.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

use ublue nvidia image until bluebuild nvidia base is fixed
  recipes/recipe-nvidia.yml
Due: build-image-prod, generate_and_upload_iso-prod

Use bluebuild nvidia GTS until 43 is fixed
  recipes/recipe-test.yml
Due: build-image-test

Use bluebuild nvidia GTS until 43 is fixed
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

push image build
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

Update recipe-test.yml
  recipes/recipe-test.yml
Due: build-image-test

push test build
  recipes/recipe-test.yml
Due: build-image-test

test topgrade
  recipes/recipe-core-test.yml
Due: none

update test image to complient id for topgrade
  recipes/recipe-test.yml
Due: build-image-test

topgrade os-release complient test image
  recipes/recipe-test.yml
Due: build-image-test

remove toolbox, as distrobox is sufficiant
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

update test id
  recipes/recipe-test.yml
Due: build-image-test

remove toolbox from test image
  recipes/recipe-core-test.yml
Due: none

minify rust coreutils alias logic.
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

fix uutils-coreutils logic for alias
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-base.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

added zellij
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

fix test recipe
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

fixed zellij nag alias
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-base.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test
