Repository john-holt4/Origami: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image-prod, generate_and_upload_iso-prod, build-image-test

build-image-prod:
  tags:
  - saas-linux-2xlarge-amd64
  image:
    name: ghcr.io/blue-build/cli
    entrypoint:
    - ''
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

generate_and_upload_iso-prod:
  tags:
  - saas-linux-2xlarge-amd64
  image:
    name: ghcr.io/blue-build/cli
    entrypoint:
    - ''
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

build-image-test:
  tags:
  - saas-linux-2xlarge-amd64
  image:
    name: ghcr.io/blue-build/cli:main
    entrypoint:
    - ''
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  ...

ran yamlfmt and shfmt on all files, added byobu, fixed alias logic for nagging and fastfetch
  .gitlab-ci.yml
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

update nag alias logic, more robust build system
  .gitlab-ci-base.yml
  .gitlab-ci-common.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test.yml
  .gitlab-ci.yml
  files/system/etc/profile.d/origami-aliases.sh
Due: none

include files in files folder to trigger pipelines
  .gitlab-ci.yml
Due: none

fixed uutils alias comment formatting
  files/system/etc/profile.d/origami-aliases.sh
Due: none

fix downstream cancel on build
  .gitlab-ci-common.yml
Due: none

test cancel build
  files/system/etc/profile.d/origami-aliases.sh
Due: none

test cancel #2
  .gitlab-ci-common.yml
  files/system/etc/profile.d/origami-aliases.sh
Due: none

fix ls ll, unalias
  .gitlab-ci-common.yml
  files/system/etc/profile.d/origami-aliases.sh
Due: none

added libxcrypt-compat to test
  recipes/recipe-core-test.yml
Due: none

fixed formatting, and removed my test app
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-base.yml
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

added neovim and tldr
  files/system/etc/profile.d/origami-aliases.sh
  recipes/recipe-core-test.yml
  recipes/recipe-core.yml
Due: build-image-prod, generate_and_upload_iso-prod

update os-release name back to origami now that origami is included in topgrade
  recipes/recipe-base.yml
  recipes/recipe-nvidia.yml
  recipes/recipe-test.yml
Due: build-image-prod, generate_and_upload_iso-prod, build-image-test

remove cache layers to get new software versions
  .gitlab-ci-base.yml
  .gitlab-ci-nvidia.yml
  .gitlab-ci-test.yml
  recipes/recipe-core-test.yml
Due: none

add unity scripts
  files/system/usr/bin/install-unity
  files/system/usr/bin/remove-unity
Due: none

Path conditions:
  build-image-prod: any of: recipes/recipe-base.yml, recipes/recipe-nvidia.yml, recipes/recipe-core.yml
  generate_and_upload_iso-prod: any of: recipes/recipe-base.yml, recipes/recipe-nvidia.yml, recipes/recipe-core.yml
  build-image-test: any of: recipes/recipe-test.yml
